body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display {
  width: 100%;
  height: 110px;
  font-size: 20px;
  text-align: right;
  border: none;
  border-radius: 5px;
  padding: 5px;
  /* margin-left: 10px; */
  margin-bottom: 10px;
}

.btn-container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: gray;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

button {
  width: calc(25% - 20px);
  height: calc(20% - 20px);
  margin-top: 10px;
  margin-bottom: 5px;
}
